$color-primary-one: #e65447;
$color-primary-two: #ffd3d0;
$color-primary-three: #ffccc8;
$color-primary-four: #ffe5e2;

$color-black-one: #000637;
$color-black-two: #060d42;
$color-black-three: #0a1144;
$color-black-four: #151a3d;

$color-white-one: #f0f0f0;
$color-white-two: #e7e7e7;
$color-white-three: #dfdfdf;
$color-white-four: #d7d7d7;

$color-success: #95eda2;
$color-error: rgba(255, 98, 63, 1);

//sideNav colors
$sidenav-background: #ffe5e2;
$sidenav-link-hover: #ffccc8;
