.footer {
  text-align: center;
  position: fixed;
  bottom: -1rem;
  width: 100%;
  z-index: 1;
  animation-name: bantai;
  animation-duration: 0.5s;
  //   transition: bantai 0.35s ease-in-out;
}

@keyframes bantai {
  0% {
    // border-top: 2px solid #ea6565;
    bottom: -50px;
  }
  50% {
    // border-top: 2px solid #ea6565;
  }
  100% {
    bottom: -15px;
  }
}
