@import "constants";
@import "colors";

// animation
.main {
  transition: grid-template-columns 5s;
}

.sidenav-open {
  & .content-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 7fr;
    & div {
      padding: 0.4em;
    }
    & .sidenav-container {
      div {
        position: sticky;
        top: 0px;
      }
      background-color: $sidenav-background;
      & .active {
        background-color: #ffccc8;
        margin-right: -19px;
        h2 {
          font-weight: bold;
        }
      }
      & .label-icon-container {
        display: flex;
        flex-direction: row;
        align-items: end;
        // margin-top: 1.5em;
        &:hover {
          // tried removing hover underline, does not work
          // & h2 {
          //   text-decoration: none;
          // }
          background-color: #ffccc8;
        }
        & h2 {
          font-family: RoundedMplus1c-Medium;
          font-size: 20px;
          color: #151a3d;
          letter-spacing: -0.23px;
        }
        & .icon {
          margin-right: 0.4em;
          //icon size
          font-size: 1.7em;
          margin-left: -0.2em;
        }
      }
      & .app-logo-container {
        display: flex;
        align-items: center;
        margin-top: 0.4em;
        margin-bottom: 1.4em;
        margin-left: -0.45em;
        img {
          margin-right: 0.4em;
        }
        & h1 {
          font-family: RoundedMplus1c-Medium;
          font-size: 24px;
          color: #000637;
          letter-spacing: -0.28px;
        }
        & .logo {
          width: $logo-width;
          height: $logo-height;
        }
        & .sideNav-cross {
          margin-left: auto;
          margin-left: min(1em);
          margin-bottom: 0.2em;
          // icon size
          font-size: 1.2em;
        }
      }
    }
  }
  // & .sidenav-container:hover {
  //   background-color: darken($sidenav-background, 20%);
  // }
}

.sidenav-close {
  & .content-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 70px 8fr;
    & div {
      padding: 0.4em;
    }
    & .sidenav-container {
      div {
        position: sticky;
        top: 0px;
      }
      background-color: $sidenav-background;
      & .logo {
        width: $logo-width;
        height: $logo-height;
      }
      & .icon {
        font-size: 1.7em;
        margin-left: -0.2em;
      }
      & .active {
        background-color: #ffccc8;
        border-right: 4px solid $color-primary-one;
        width: 40px;
        padding-right: 40px;
        h2 {
          font-weight: bold;
        }
      }
      & .sideNav-cross {
        display: none;
      }
      & .app-logo-container {
        margin-top: 0.4em;
        margin-bottom: 1.4em;
        margin-left: -0.45em;
        & h1 {
          display: none;
        }
      }
      & .label-icon-container {
        &:hover {
          background-color: #ffccc8;
          width: 40px;
        }
        h2 {
          display: none;
        }
      }
    }
  }
  // & .sidenav-container:hover {
  //   background-color: darken($sidenav-background, 20%);
  // }
}
