@import "header";
@import "sideNav";
@import "customVariables";
@import "login";
@import "fonts";
@import "colors";
@import "searchInput";

.login {
  display: flex;
  width: 60vw;
  height: 50vh;
  //   background-color: #bada55;
  //   flex: 0 0 50%;
}

.login-left {
  flex: 0 0 50%;
  background-color: aquamarine;
  //   flex: 1;
  //   flex-grow: 1;
  //   flex-basis: 0;
  //   flex: 0 0 50%;
  //   & img {
  //     border-top-left-radius: 20px;
  //     border-bottom-left-radius: 20px;
  //     background-size: strech;
  //   }
  background: url("https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //   width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 2px rgba(105, 104, 104, 0.781);
}
.login-right {
  flex: 0 0 50%;
  background-color: $sidenav-background;
  //   flex: 1;
  //   flex-grow: 1;
  //   flex-basis: 0;
  //   //   flex: 0 0 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px rgba(105, 104, 104, 0.781);

  padding-left: 35px;
  & input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #102713;
    margin-top: 25px;
    padding: 2px 5px;
  }
}

// modifying bootstrap constants value
$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "color-primary-one": $color-primary-one,
  "color-white-one": $color-white-one,
  "color-white-two": $color-white-two
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
