.logo{
    display: flex;
    align-items: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.logo-image{
    height: 3em;
        margin-right: 0.6em;
}

.company-title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    margin-right: 0.2em;
}

.product-title{
    font-size: 1.0em;
}