.media-card {
    img{
        height: 10em;
        width: 10em;
        object-fit: contain;
        object-position: center; 
    }

    iframe{
        height: 10em;
        width: 10em;
        object-fit: contain;
        object-position: center; 
    }
}