.primary-action-post-table {
  display: flex;
}

.primary-action-post-table-drop-down {
  margin-left: auto;
}

.primary-action-post-table-upload {
  background-color: $color-primary-one;
  color: white;
  padding: 3.9px;
  border-radius: 0.2rem;
  cursor: pointer;
}
