.primary-action-post-table {
  display: flex;

  margin-left: auto;
}

// .primary-action-post-table-buttons {
//   display: flex;
//   justify-content: flex-start;
// }

.primary-action-post-table-drop-down {
  margin-left: auto;
  //   justify-content: flex-end;
}
